h1 {
  font-family: black sans-serif;
  padding: 15px;
}
img {
  float: left;
  height: 100%;
}
.banner {
  background-color: #F6DEB8;
  height: 70px;
  margin-top: -20px;
  margin-bottom: 25px;
}
#checkout {
  display: none;
}
